doctype html
html(lang=de)
    head
        title css-only parallax
        link(rel="stylesheet", href="styles.css")
    body
        div.container
            - for (var x = 0; x < 125; x++)
                div
            div.layer.layer-2
                img(src="layer1_1920.jpg" alt="static background")
            div.layer.layer-1
                img(src="clouds-gb587804b5_1920.png" alt="1st layer")
            div.layer.layer-0
            div.foreground
                h1 Pure CSS parallax
